/*CSS INTRO*/

/*class*/
/*.heading{
	color: blue;
}*/



/*calling of id in html*/

/*heading{


	color: rgb(254,152,203);
	

*/

/*}

#heading2{
	color: green;
}

#description{

}*/

/*h1{color: red;}*/


/**{
	color: green;
}*/

/*id with specific element*/


/*descendant*/
#list_of_songs li{

	color: red;

}

/*Child selector*/

body > section > form > label {
	color: yellowgreen;
}


/*tagname with attribute*/
input[required]{
	border-color: blue;
	width: 90%;
}
