
*{margin: 0px;
padding: 0px;

 font-family: Arial, Helvetica, sans-serif;
font-size: auto;}

h1{
	font-size: 40px;
	
	
}

hr{
	margin-top: 15px;
}
.top{
	margin-top: 25px;
}

/*1st box*/


.colored-p{

	

/*border-width: 2px;
	border-color: red;
	border-style: double;
	width: 215px;
	height: 120px;*/



	
margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px ;
padding-left: 20px;
padding-bottom: 0px;


	



	
}




#p-yellow{
	color: yellow;
	padding: 8px;
}



/*2nd box*/
.css-size {
	

padding-left: 10px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 10px;

	

	/*border-width: 2px;
	border-color: red;
	border-style: double;
	width: 500px;
	height: 120px;*/

	


	margin-left: 20px;
	margin-bottom: 4px;

}

#big-p{
	font-size: 45px;
	padding-bottom: 25px;


	
}


span{

	margin-left:30px;


}


/*3rd box*/

/*section class*/

.languages{

 	/*border-width: 1px;
	
	border-color: none;
	border-style: solid;

width: 100vh;
	height: 58px;
	opacity: 0.8;*/
	
margin-top: 12px;
margin-left: 3px;
	/*background-color: #AFE1AF;*/
	
 background-color: #AFE1AF;
 width: 100vh;
 height: 58px;

	 

}




.lang{
	

	

	/*border-width: 2px;
	 
	border-color: red;
	border-style: double;

	
	width: 200px;
	height: 80px;*/




	
	margin-top: 0px;
	margin-left: 50px;
	margin-bottom: 10px ;
	
	


}



/*ol class*/

 .languages{

 	border-width: 0px;
	 background-color: #AFE1AF;
	border-color: none;
	border-style: solid;

width: 100vh;
	height: 58px;
	
margin-top: 12px;
margin-left: 3px;

}
	/*background-color: #AFE1AF;
	width: 100vh;


}



/*2nd output*/

/*tools be used*/
#sectools{
	margin: 10px 0px 20px 50px;

/*	border-width: 2px;
	 
	border-color: red;
	border-style: double;

	
	width: 200px;
	height: 90px;
	padding: 2px 0px 0px 0px ;*/

}

/*attribute-selector*/
[class~=inside]{
	border-width: 1px;
	 
	border-color: gray;
	border-style: solid;

width: 100vh;
	height: 20px;
	
}





/*js image*/
#image{
	/*border-width: 2px;
	 
	border-color: red;
	border-style: double;

	
	width: 170px;
	height: 120px;*/




	
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px ;
	
	
}

#image img{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin-left: 20px;

	padding-top: 10px;

}

/*spacing letter*/

#spacing{
	margin: 10px 0px 10px 80px;
}

ul{
	letter-spacing: 9px;
	list-style: none;
}


/*flexed*/
#flexed{

	/*display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/

	margin-left: 170px;
}

section ~ span{
	/*border-width: 2px;	 
	border-color: red;
	border-style: double;
	height: 30px;
	width: 630px;*/


	padding: 10px 4px 10px 12px;
	text-align: center;

}





